.app {
  min-height: 100vh;
  color: #ffffff;
  font-family: 'minecraftFont', monospace;
}

.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}
