.header {
  background-color: #121214;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 50px 10px 50px;
  margin-top: 40px;
  align-items: center;
  font-size: 14px;
  border-radius: 30px;
}

.headerRight {
  display: flex;
  gap: 20px;
  align-items: center;
}
.userAvatar {
  height: 45px;
  width: 45px;
}
.chatIcon {
  position: relative;
  height: 55px;
  width: 55px;
  background-color: #2c2c30;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #da3e44;
  color: white;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(255, 68, 68, 0.4);
  line-height: 1;
  padding-left: 2px;
}
